obj_dir
run.csh
simdir
simdir1
synopsys_sim.setup
ucli.tcl
run2.csh
run.csh
venv
signal.rc
__pycache__
model/__pycache__
weights/huggingfcae_home
weights/weights_bin
weights/weights_int8
weights/weights_hex
